
#navbar-logo {
    height: 15%;
    width: 170px;
    margin-left: 10rem;
}

.navbar {
    background-color: #F4F4F4 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #005D8F;
}

.nav-link .nav-icon {
    height: 23px !important;
    width: 25px !important;
    padding-top: 5px;
}

#header-icons {
    margin-right: 3rem;
}

#icons-div {
    margin-right: 10rem;
}

#procureseuveiculo {
    height: 200px;
    width: 100%;
    background-color: #F4F4F4;
    align-items: center;
}

#procureseuveiculo h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #005D8F;
    display: flex;
    justify-content: center;
    align-items: center;
}

#procureseuveiculo button, input{
    justify-content: center;
    align-items: center;
}

#procureseuveiculo button {
    color: #fff;
    margin-left: 10px;
}

#procureseuveiculo .container {
    width: 26%;
}

.nav-links {
    padding-left: 5rem;
}

.btn-primary {
    background-color: #005D8F;
}



/* Footer */

footer {
    background-color: #F4F4F4;
    width: 100%;
    margin-top: auto;
}

.footer-text {
    color: #005D8F;

}
