html,
body {
  height: 100%;
}

/* Navbar */

#navbar-logo {
    height: 15%;
    width: 170px;
    margin-left: 10rem;
}

.navbar {
    background-color: #F4F4F4 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #005D8F;
}

.nav-link .nav-icon {
    height: 23px !important;
    width: 25px !important;
    padding-top: 5px;
}

#header-icons {
    margin-right: 3rem;
}

#icons-div {
    margin-right: 10rem;
}

#procureseuveiculo {
    height: 200px;
    width: 100%;
    background-color: #F4F4F4;
    align-items: center;
}

#procureseuveiculo h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #005D8F;
    display: flex;
    justify-content: center;
    align-items: center;
}

#procureseuveiculo button, input{
    justify-content: center;
    align-items: center;
}

#procureseuveiculo button {
    color: #fff;
    margin-left: 10px;
}

#procureseuveiculo .container {
    width: 26%;
}

.nav-links {
    padding-left: 5rem;
}

.btn-primary {
    background-color: #005D8F;
}

/* Mapa do site */

.mapadosite {
    background-color: #F4F4F4;
    color: #005D8F;
    white-space: nowrap;
    max-height: 30rem;
}

.mapadosite a {
    color: #005D8F;
}

.mapadosite a p h6{
    font-size: 14px;
}

/* Footer */

footer {
    background-color: #EFEDED;
    width: 100%;
    margin-top: auto;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-icons {
    height: 1rem;
}

.footer-text {
    color: #005D8F;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
}

.space-btw {
    display: -webkit-box!important;
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

/* Carrosel */

/*
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/
@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

.carousel-title {
    color: #005D8F;
    font-family: Arial;
    font-size: 1rem !important;
}

.carousel {
    min-width: fit-content;
}


/* Novidade em veiculos */

.news-img {
    max-width: 15rem;
}

.news-col span {
    color: #005D8F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 1rem;
    margin-top: 100px;
}

.advertise-title {
    padding-top: 0.5rem;
    color: #005D8F;
    font-family: Arial;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.news-col p {
    color: #005D8F;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    font-size: 0.9rem;
}


/* Imagens dos carros home */

.car-section {
    max-width: max-content;
    overflow: hidden;
}