<!doctype html>
<html lang="pt-Br">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/advertise.css">
  <script src="https://unpkg.com/feather-icons"></script>
  <script src="../scripts/advertise-edit.js"></script>
  <title>Capô Clássico</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <img id='navbar-logo' src="../assets/logo-navbar.png" class="navbar-brand" href="/index.html">

      <div class="container input-group ml-5 mr-5">
        <input type="text" class="form-control mr-2">
        <button type="button" class="btn btn-primary">Buscar</button>
      </div>

      <ul id='nav-links' class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Veículos</a>
        </li>
      </ul>
      <ul id="icons-div" class="navbar-nav nav-links">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="nav-icon" data-feather='heart'></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="nav-icon" data-feather="user"></i></a>
        </li>
      </ul>
      </div>
    </nav>
  </header>

  <div class="content container">
    <small class="link-flow ml-5 mb-3">Home → Perfil → Editar anúncio</small>
    <h1 class="text-uppercase advertise-title mt-2">Editar anúncio</h1>
    <form>
      <div class="container ml-5 mr-5">
        <h5>INFORMAÇÕES DO VEÍCULO</h5>
        <div class="row form-group">
          <div class="col">
            <label class="select-label" for="brand">Marca do veículo</label>
            <select class="custom-select select" id="brand">
              <option selected disabled value>Escolha</option>
              <option value="1">Chevrolet</option>
              <option value="2">BMW</option>
              <option value="3">Fiat</option>
              <!-- Inserir outras marcas aqui -->
            </select>
            <!-- Small pode ser utilizado para dar uma descrição do select -->
            <small class="form-text text-muted">Texto descritivo</small>

            <label class="select-label" for="model">Modelo do veículo</label>
            <select class="custom-select select" required id="brand">
              <option disabled value selected>Escolha</option>
            </select>

            <label class="select-label" for="category">Categoria</label>
            <select class="custom-select select" required id="category">
              <option selected disabled value>Escolha</option>
            </select>
            <!-- Small pode ser utilizado para dar uma descrição do select -->
            <small class="form-text text-muted">Texto descritivo</small>

            <div class="row">

              <div class="col">
                <label class="select-label" for="year">Ano</label>
                <select class="custom-select select" required id="year">
                  <option selected disabled value>Escolha</option>
                </select>
                <!-- Small pode ser utilizado para dar uma descrição do select -->
                <small class="form-text text-muted">Texto descritivo</small>

                <label class="select-label" for="condition">Condição</label>
                <select class="custom-select select" required id="condition">
                  <option selected disabled value>Escolha</option>
                </select>
                <!-- Small pode ser utilizado para dar uma descrição do select -->
                <small class="form-text text-muted">Texto descritivo</small>

                <label class="select-label" for="transmission">Transmissão</label>
                <select class="custom-select select" required id="transmission">
                  <option selected disabled value>Escolha</option>
                </select>
                <!-- Small pode ser utilizado para dar uma descrição do select -->
                <small class="form-text text-muted">Texto descritivo</small>

                <label class="select-label" for="fuel">Combustível</label>
                <select class="custom-select select" required id="fuel">
                  <option selected disabled value>Escolha</option>
                </select>
                <!-- Small pode ser utilizado para dar uma descrição do select -->
                <small class="form-text text-muted">Texto descritivo</small>

                <label class="select-label" for="steering">Direção</label>
                <select class="custom-select select" required id="steering">
                  <option selected disabled value>Escolha</option>
                </select>
                <!-- Small pode ser utilizado para dar uma descrição do select -->
                <small class="form-text text-muted">Texto descritivo</small>
              </div>
              <div class="col">
                <label class="select-label" for="version">Versão</label>
                <select class="custom-select select" required id="version">
                  <option selected disabled value>Escolha</option>
                </select>
                <!-- Small pode ser utilizado para dar uma descrição do select -->
                <small class="form-text text-muted">Texto descritivo</small>

                <label class="select-label" for="km">Quilometragem</label>
                <input type="number" class="form-control" required id="km" aria-describedby="basic-addon3">
                <!-- Small pode ser utilizado para dar uma descrição do select -->
                <small class="form-text text-muted">Texto descritivo</small>

                <label class="select-label" for="doors">Portas</label>
                <select class="custom-select select" required id="doors">
                  <option selected disabled value>Escolha</option>
                </select>
                <!-- Small pode ser utilizado para dar uma descrição do select -->
                <small class="form-text text-muted">Texto descritivo</small>

                <label class="select-label" for="color">Cor</label>
                <select class="custom-select select" required id="color">
                  <option selected disabled value>Escolha</option>
                </select>
                <!-- Small pode ser utilizado para dar uma descrição do select -->
                <small class="form-text text-muted">Texto descritivo</small>

                <label class="select-label" for="isarmored">Blindado</label>
                <select class="custom-select select" required id="isarmored">
                  <option selected disabled value>Sim</option>
                  <option>Não</option>
                </select>
                <!-- Small pode ser utilizado para dar uma descrição do select -->
                <small class="form-text text-muted">Texto descritivo</small>
              </div>


            </div>

            <label class="select-label" for="price">Preço</label>
            <input type="number" class="form-control" required id="price" aria-describedby="basic-addon3">
            <!-- Small pode ser utilizado para dar uma descrição do select -->
            <small class="form-text text-muted">Texto descritivo</small>
            </select>
          </div>
          <div class="col">
            <label class="select-label d-flex" for="location">Localização</label>
            <div class="row pt-">
              <div class="col">
                <label class="select-label" for="city">Cidade</label>
                <select class="custom-select select" required id="city">
                  <option selected disabled value>Escolha</option>
                  <option value="1">Campinas</option>
                  <option value="2">São Paulo</option>
                  <option value="3">Rio de Janeiro</option>
                </select>
                <!-- Small pode ser utilizado para dar uma descrição do select -->
                <small class="form-text text-muted">Texto descritivo</small>
              </div>
              <div class="col">
                <label class="select-label" for="CEP">CEP</label>
                <input type="text" class="form-control" required id="CEP" aria-describedby="basic-addon3">
                <!-- Small pode ser utilizado para dar uma descrição do select -->
                <small class="form-text text-muted">Texto descritivo</small>
              </div>
            </div>
            <label class="select-label mt-1" for="info">Outras informações</label>
            <textarea name="info" id="info" cols="30" rows="10"></textarea>
            <label for="images" class="select-label">Imagens</label>
            <input class="form-control" type="file" multiple accept="image/*" id="images">
            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-send-form mt-4 text-center">Editar
                Anúncio</button>
            </div>
          </div>
    </form>
  </div>
  </div>
  </div>

  <section class="mapadosite">
    <div class="container text-md-start mt-1">

      <div class="row mt-3 align-items-start">

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-3">
            Navegue por categorias
          </h6>

          <p>
            <a href="#!" class="text-reset text-left">Anuncios mais recentes</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-left">Caminhões</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Motocicletas</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Esportivos</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Conversíveis</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Raros</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Clássicos futuristas</a>
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-3">
            Navegue por marcas
          </h6>
          <p>
            <a href="#!" class="text-reset">Chevrolet</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Ford</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Volkswagem</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Jeep</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Mitsubishi </a>
          </p>
          <p>
            <a href="#!" class="text-reset">Toyota</a>
          </p>
          <p>
            <a href="#!" class="text-reset">BMW</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Ferrari</a>
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-4">
          <h6 class="text-uppercase fw-bold mb-3 mt-4">
          </h6>
          <!-- <p>
                <a href="#!" class="text-reset">Harley-Davidson</a>
              </p> -->
          <p>
            <a href="#!" class="text-reset">
              Mercedes-Benz</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Audi</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Fiat</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Honda</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Nissan </a>
          </p>
          <p>
            <a href="#!" class="text-reset">Cadillac</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Porshe</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Volvo</a>
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-4">
          <h6 class="text-uppercase fw-bold mb-3">
            Anunciar Veículo
          </h6>
          <p>
            <a href="#!" class="text-reset">Faça seu anúncio</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Gerenciar meu anúncio</a>
          </p>
          <h6 class="text-uppercase fw-bold mb-3">
            Ajuda
          </h6>
          <p>
            <a href="#!" class="text-reset">Mapa do Site</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Política de Privacidade</a>
          </p>
          <p>
            <a href="#!" class="text-reset">LGPD</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Como anunciar seu veículo </a>
          </p>
          <p>
            <a href="#!" class="text-reset">Como anunciar eventos </a>
          </p>
          <p>
            <a href="#!" class="text-reset">Dicas de Segurança</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Fale Conosco</a>
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-4">
          <h6 class="text-uppercase fw-bold mb-3">
            Conta
          </h6>
          <p>
            <a href="#!" class="text-reset">Criar conta</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Acessar conta</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Gerenciar sua conta</a>
          </p>
          <h6 class="text-uppercase fw-bold mb-2">
            Valores
          </h6>
          <p>
            <a href="#!" class="text-reset">Missão</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Visão</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Objetivos</a>
          </p>
          <p>
            <a href="#!" class="text-reset">História da Empresa</a>
          </p>
        </div>

      </div>
  </section>

  <footer class="d-flex justify-content-between">
    <p class="text-left p-3 footer-text">© Capô Clássico 2021</p>
    <div class="text-right p-3">
      <a class="footer-text" href="#"><i class="footer-icons" data-feather="instagram"></i></a>
      <a class="footer-text" href="#"><i class="footer-icons" data-feather="facebook"></i></a>
      <a class="footer-text" href="#"><i class="footer-icons" data-feather="twitter"></i></a>
    </div>
  </footer>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3\o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>