<!doctype html>
<html lang="pt-Br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/search.css">
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="../scripts/search.js"></script>
    <title>Capô Clássico</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <img id='navbar-logo' src="../assets/logo-navbar.png" class="navbar-brand" href="/index.html">

            <div class="container input-group ml-5 mr-5">
                <input type="text" class="form-control mr-2">
                <button type="button" class="btn btn-primary">Buscar</button>
            </div>

            <ul id='nav-links' class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Veículos</a>
                </li>
            </ul>
            <ul id="icons-div" class="navbar-nav nav-links">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="nav-icon" data-feather='heart'></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="nav-icon" data-feather="user"></i></a>
                </li>
            </ul>
            </div>
        </nav>
    </header>

    <div class="content container">
        <div class="container ml-5 mr-4">

            <section class="d-flex search mt-3">
                <div class="search-sidebar mt-5">
                    <div class="mb-3">
                        <h6 class="search-item-title">Localização</h6>
                        <select class="custom-select select search-dropdown mb-1" required id="search-location-estado">
                            <option disabled selected value disabled value>Estado</option>
                        </select>
                        <select class="custom-select select search-dropdown" required id="search-location-cidade">
                            <option disabled selected value disabled value>Cidade</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <h6 class="search-item-title">Marca</h6>
                        <div>
                            <select class="custom-select select search-dropdown" required id="search-brand">
                                <option disabled selected value disabled value>Marca</option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-3">
                        <h6 class="search-item-title">Modelos</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="model-search">
                            <label class="form-check-label" for="model-search">
                                Modelo 1
                            </label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <h6 class="search-item-title">Versões</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="version-search">
                            <label class="form-check-label" for="version-search">
                                Versão
                            </label>
                        </div>
                    </div>

                    <!-- <div class="mb-3">
                        <h6 class="search-item-title">Anos</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="version-search">
                            <label class="form-check-label" for="version-search">
                                2001
                            </label>
                        </div>
                    </div> -->

                    <div class="mb-3">
                        <h6 class="search-item-title">Preço</h6>
                        <div class="d-flex inputs-range">
                            <input type="number" style="margin-right: 5px;" value="" placeholder="Mínimo"
                                id="price-search-min">
                            <input type="number" value="" placeholder="Máximo" id="price-search-max">
                        </div>
                    </div>

                    <div class="mb-3">
                        <h6 class="search-item-title">Condição</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="condition-search-new">
                            <label class="form-check-label" for="condition-search-new">
                                Novo
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="condition-search-old">
                            <label class="form-check-label" for="condition-search-old">
                                Usado
                            </label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <h6 class="search-item-title">Quilometragem</h6>
                        <div class="d-flex inputs-range">
                            <input type="number" style="margin-right: 5px;" value="" placeholder="Mínimo"
                                id="km-search-min">
                            <input type="number" value="" placeholder="Máximo" id="km-search-max">
                        </div>
                    </div>

                    <div class="mb-3">
                        <h6 class="search-item-title">Tipo de combustível</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="fuel-search-gasolina">
                            <label class="form-check-label" for="fuel-search-gasolina">
                                Gasolina
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="fuel-search-alcool">
                            <label class="form-check-label" for="fuel-search-alcool">
                                Álcool
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="fuel-search-diesel">
                            <label class="form-check-label" for="fuel-search-diesel">
                                Diesel
                            </label>
                        <div>
                            <input class="form-check" type="number" placeholder="Mínimo">
                            <input class="form-check" type="number" placeholder="Máximo">
                        </div>
                    </div>

                    <div class="mb-3">
                        <h6 class="search-item-title">Portas</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="doors-search-2">
                            <label class="form-check-label" for="doors-search-2">
                                2
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="doors-search-3">
                            <label class="form-check-label" for="doors-search-3">
                                3
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="doors-search-4">
                            <label class="form-check-label" for="doors-search-4">
                                4
                            </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <h6 class="search-item-title">Transmissão</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="transmission-search-manual">
                            <label class="form-check-label" for="transmission-search-manual">
                                Manual
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value=""
                                id="transmission-search-automatica">
                            <label class="form-check-label" for="transmission-search-automatica">
                                Automática
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value=""
                                id="transmission-search-semiautomatica">
                            <label class="form-check-label" for="transmission-search-semiautomatica">
                                Semiautomática
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value=""
                                id="transmission-search-automaticasequencial">
                            <label class="form-check-label" for="transmission-search-automaticasequencial">
                                Automática sequencial
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="transmission-search-cvt">
                            <label class="form-check-label" for="transmission-search-cvt">
                                CVT
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value=""
                                id="transmission-search-sequencial">
                            <label class="form-check-label" for="transmission-search-sequencial">
                                Sequencial
                            </label>
                        </div>
                    </div>
                    <h6 class="search-item-title">Cor</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="color-search-azul">
                        <label class="form-check-label" for="color-search-azul">
                            Azul
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="color-search-branco">
                        <label class="form-check-label" for="color-search-branco">
                            Branco
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="color-search-vermelho">
                        <label class="form-check-label" for="color-search-vermelho">
                            Vermelho
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="color-search-verde">
                        <label class="form-check-label" for="color-search-verde">
                            Verde
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="color-search-preto">
                        <label class="form-check-label" for="color-search-preto">
                            Preto
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="color-search-amarelo">
                        <label class="form-check-label" for="color-search-amarelo">
                            Amarelo
                        </label>
                    </div>
                    <h6 class="search-item-title">Direção</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="steering-search-mecanica">
                        <label class="form-check-label" for="steering-search-mecanica">
                            Mecânica
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="steering-search-hidraulica">
                        <label class="form-check-label" for="steering-search-hidraulica">
                            Hidráulica
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="steering-search-eletrica">
                        <label class="form-check-label" for="steering-search-eletrica">
                            Elétrica
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="steering-search-assistida">
                        <label class="form-check-label" for="steering-search-assistida">
                            Assistida
                        </label>
                    </div>
                    <h6 class="search-item-title">Outras características</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="direction-search-mecanica">
                        <label class="form-check-label" for="direction-search-mecanica">
                            Com freio ABS
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="direction-search-hidraulica">
                        <label class="form-check-label" for="direction-search-hidraulica">
                            Blindado
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="direction-search-eletrica">
                        <label class="form-check-label" for="direction-search-eletrica">
                            Com alarme
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="direction-search-assistida">
                        <label class="form-check-label" for="direction-search-assistida">
                            Com ar-condicionado
                        </label>
                    </div>
                </div>

                <div class="container">
                    <small class="link-flow ml-5 mb-3">Home → Busca</small>

                    <h1 class="text-uppercase advertise-title mt-2 mb-4">Resultados Encontrados</h1>


                    <div class="row mt-4">
                        <div class="col news-col">
                            <img class="news-img" src="../assets/cars/fusca.jpg" alt="">
                            <h5 class="advertise-css">Fusca</h5>
                            <small class="form-text text-muted">1998</small>
                            <p>1.6 Gasolina 16v</p>
                            <p>2P Manual</p>
                            <div class="space-btw">
                                <span>R$ 20.000</span>
                                <a class="footer-text space-btw" href="#"><i class="footer-icons"
                                        data-feather="heart"></i></a>
                            </div>
                            <button class="btn btn-primary btn-edit">Ver anúncio</button>
                            <hr>
                        </div>
                        <div class="col news-col">
                            <img class="news-img" src="../assets/cars/fusca.jpg" alt="">
                            <h5 class="advertise-css">Fusca</h5>
                            <small class="form-text text-muted">1998</small>
                            <p>1.6 Gasolina 16v</p>
                            <p>2P Manual</p>
                            <div class="space-btw">
                                <span>R$ 20.000</span>
                                <a class="footer-text space-btw" href="#"><i class="footer-icons"
                                        data-feather="heart"></i></a>
                            </div>
                            <button class="btn btn-primary btn-edit">Ver anúncio</button>
                            <hr>
                        </div>
                        <div class="col news-col">
                            <img class="news-img" src="../assets/cars/fusca.jpg" alt="">
                            <h5 class="advertise-css">Fusca</h5>
                            <small class="form-text text-muted">1998</small>
                            <p>1.6 Gasolina 16v</p>
                            <p>2P Manual</p>
                            <div class="space-btw">
                                <span>R$ 20.000</span>
                                <a class="footer-text space-btw" href="#"><i class="footer-icons"
                                        data-feather="heart"></i></a>
                            </div>
                            <button class="btn btn-primary btn-edit">Ver anúncio</button>
                            <hr>
                        </div>
                        <div class="col news-col">
                            <img class="news-img" src="../assets/cars/fusca.jpg" alt="">
                            <h5 class="advertise-css">Fusca</h5>
                            <small class="form-text text-muted">1998</small>
                            <p>1.6 Gasolina 16v</p>
                            <p>2P Manual</p>
                            <div class="space-btw">
                                <span>R$ 20.000</span>
                                <a class="footer-text space-btw" href="#"><i class="footer-icons"
                                        data-feather="heart"></i></a>
                            </div>
                            <button class="btn btn-primary btn-edit">Ver anúncio</button>
                            <hr>
                        </div>
                        <div class="col news-col">
                            <img class="news-img" src="../assets/cars/fusca.jpg" alt="">
                            <h5 class="advertise-css">Fusca</h5>
                            <small class="form-text text-muted">1998</small>
                            <p>1.6 Gasolina 16v</p>
                            <p>2P Manual</p>
                            <div class="space-btw">
                                <span>R$ 20.000</span>
                                <a class="footer-text space-btw" href="#"><i class="footer-icons"
                                        data-feather="heart"></i></a>
                            </div>
                            <button class="btn btn-primary btn-edit">Ver anúncio</button>
                            <hr>
                        </div>
                        <div class="col news-col">
                            <img class="news-img" src="../assets/cars/fusca.jpg" alt="">
                            <h5 class="advertise-css">Fusca</h5>
                            <small class="form-text text-muted">1998</small>
                            <p>1.6 Gasolina 16v</p>
                            <p>2P Manual</p>
                            <div class="space-btw">
                                <span>R$ 20.000</span>
                                <a class="footer-text space-btw" href="#"><i class="footer-icons"
                                        data-feather="heart"></i></a>
                            </div>
                            <button class="btn btn-primary btn-edit">Ver anúncio</button>
                            <hr>
                        </div>
                        <div class="col news-col">
                            <img class="news-img" src="../assets/cars/fusca.jpg" alt="">
                            <h5 class="advertise-css">Fusca</h5>
                            <small class="form-text text-muted">1998</small>
                            <p>1.6 Gasolina 16v</p>
                            <p>2P Manual</p>
                            <div class="space-btw">
                                <span>R$ 20.000</span>
                                <a class="footer-text space-btw" href="#"><i class="footer-icons"
                                        data-feather="heart"></i></a>
                            </div>
                            <button class="btn btn-primary btn-edit">Ver anúncio</button>
                            <hr>
                        </div>
                        <div class="col news-col">
                            <img class="news-img" src="../assets/cars/fusca.jpg" alt="">
                            <h5 class="advertise-css">Fusca</h5>
                            <small class="form-text text-muted">1998</small>
                            <p>1.6 Gasolina 16v</p>
                            <p>2P Manual</p>
                            <div class="space-btw">
                                <span>R$ 20.000</span>
                                <a class="footer-text space-btw" href="#"><i class="footer-icons"
                                        data-feather="heart"></i></a>
                            </div>
                            <button class="btn btn-primary btn-edit">Ver anúncio</button>
                            <hr>
                        </div>
                        <div class="col news-col">
                            <img class="news-img" src="../assets/cars/fusca.jpg" alt="">
                            <h5 class="advertise-css">Fusca</h5>
                            <small class="form-text text-muted">1998</small>
                            <p>1.6 Gasolina 16v</p>
                            <p>2P Manual</p>
                            <div class="space-btw">
                                <span>R$ 20.000</span>
                                <a class="footer-text space-btw" href="#"><i class="footer-icons"
                                        data-feather="heart"></i></a>
                            </div>
                            <button class="btn btn-primary btn-edit">Ver anúncio</button>
                            <hr>
                        </div>
                    </div>
                </div>
            </section>


        </div>

    </div>

    <section class="mapadosite">
        <div class="container text-md-start mt-1">

            <div class="row mt-3 align-items-start">

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-3">
                        Navegue por categorias
                    </h6>

                    <p>
                        <a href="#!" class="text-reset text-left">Anuncios mais recentes</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset text-left">Caminhões</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Motocicletas</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Esportivos</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Conversíveis</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Raros</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Clássicos futuristas</a>
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-3">
                        Navegue por marcas
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Chevrolet</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Ford</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Volkswagem</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Jeep</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Mitsubishi </a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Toyota</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">BMW</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Ferrari</a>
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-4">
                    <h6 class="text-uppercase fw-bold mb-3 mt-4">
                    </h6>
                    <!-- <p>
                <a href="#!" class="text-reset">Harley-Davidson</a>
              </p> -->
                    <p>
                        <a href="#!" class="text-reset">
                            Mercedes-Benz</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Audi</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Fiat</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Honda</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Nissan </a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Cadillac</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Porshe</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Volvo</a>
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-4">
                    <h6 class="text-uppercase fw-bold mb-3">
                        Anunciar Veículo
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Faça seu anúncio</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Gerenciar meu anúncio</a>
                    </p>
                    <h6 class="text-uppercase fw-bold mb-3">
                        Ajuda
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Mapa do Site</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Política de Privacidade</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">LGPD</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Como anunciar seu veículo </a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Como anunciar eventos </a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Dicas de Segurança</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Fale Conosco</a>
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-4">
                    <h6 class="text-uppercase fw-bold mb-3">
                        Conta
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Criar conta</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Acessar conta</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Gerenciar sua conta</a>
                    </p>
                    <h6 class="text-uppercase fw-bold mb-2">
                        Valores
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Missão</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Visão</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Objetivos</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">História da Empresa</a>
                    </p>
                </div>

            </div>
    </section>

    <footer class="d-flex justify-content-between">
        <p class="text-left p-3 footer-text">© Capô Clássico 2021</p>

        <div class="text-right p-3">
            <a class="footer-text" href="#"><i class="footer-icons" data-feather="instagram"></i></a>
            <a class="footer-text" href="#"><i class="footer-icons" data-feather="facebook"></i></a>
            <a class="footer-text" href="#"><i class="footer-icons" data-feather="twitter"></i></a>
        </div>
    </footer>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3\o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>